.newCar-container {
  height: 100%;
  width: 100%;
  background-color:beige;
  font-family: Microsoft YaHei, "微软雅黑", STXihei, "华文细黑", Arial, sans-serif;
  background-repeat: round;
  //border: solid;


  .newCar-container-body{
    height: 85%;
    width: 100%;

    .newCar-container-vr{
      height:85%;
      width: 75%;
    }

    .newCar-containe-info{
      height:85%;
      width: 25%;
    }
  }

  .newCar-container-foot{
    height: 20%;
    width: 100%;
    z-index: 6;
  }





}
