.Poster-page{
  height: 87%;
  width: 100%;
  background: url('/images/mainWebBackground.jpg');
  font-family: Microsoft YaHei, "微软雅黑", STXihei, "华文细黑", Arial, sans-serif;
  background-repeat: round;
  position: fixed;
  padding: 30px;
  margin: 30px;
}